body {
    width: 100%;
    margin: auto;
    background: radial-gradient(#002244, #A5ACAF, #69BE28) fixed;
}

header {
    content: " ";
    display: block;
    text-align: center;
    border-bottom: 3px ridge royalblue;
    width: 100%;
}

h1 {
    font-size: 50px;
    margin: 0px;
    color: mediumpurple;
}

h2 {
    font-size: 20px;
    margin: 0px;
    color: mediumpurple;
}

main{
    max-width: 70%;
    margin: 0 auto;
}

div {
    margin-top: 0;
    display: inline-block;
}

img {
    height: 220px;
    width: 290px;
    margin-right: 9px;
}

canvas {
    width: 100px;
    height: 100px;
}
footer{
    height: 200px;
}